<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/items-sidebar.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/info_for_cart.js"></script>
    <script type="text/javascript" src="/scripts/quantity_button.js"></script>
  </head>

  <body>
    <header><% include ./partials/_header %></header>
    <section id="side-bar">
      <article class="side-bar-head">
        <h4>Foody - Your Order</h4>
        <h5>Total</h5>
        <h6>$ 19.99</h6>
        <button class="checkout-btn">Checkout</button>
      </article>
      <article class="cart-item">
        <div class="row">
          <div class="col-12 col-md-2 quantity"><b>15</b></div>
          <div class="col-12 col-md-7 item-name"><b>Gourmet Hot Dog</b></div>
          <div class="col-12 col-md-3 item-price">$ 3,99</div>
        </div>
        <div class="remove-btn">
          <a href="#">Remove</a>
        </div>
      </article>
    </section>

    <h1 class="main-heading">Menu</h1>

    <section id="product-container" class="d-flex flex-wrap justify-content-center"></section>
  </body>
</html>
