<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script>
     function up(max) {
    document.getElementById("myNumber").value = parseInt(document.getElementById("myNumber").value) + 1;
    if (document.getElementById("myNumber").value >= parseInt(max)) {
        document.getElementById("myNumber").value = max;
    }
}
function down(min) {
    document.getElementById("myNumber").value = parseInt(document.getElementById("myNumber").value) - 1;
    if (document.getElementById("myNumber").value <= parseInt(min)) {
        document.getElementById("myNumber").value = min;
    }
}

    </script>
  </head>

  <body>
    <header><% include ./partials/_header %></header>

    <aside id="side-bar" class="">
      <h3>Your Order</h3>
    </aside>

    <h1 class="main-heading">Menu</h1>

    <section id="product-container" class="d-flex flex-wrap justify-content-center">
      <article class="order-1 product1">
        <div class="card">
          <img
            class="card-img-top"
            src="//cdn.cnn.com/cnnnext/dam/assets/171027052520-processed-foods-exlarge-tease.jpg"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <h6 class="product-price">$ 4,50</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <div>
                <label>Quantity: </label>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="down" class="btn btn-default" onclick=" down('0')"><span class="glyphicon glyphicon-minus"></span></button>
                    </div>
            <form method="POST" action="/">
              <button href="#" class="btn btn-primary">Add to Cart</button>
            </form>
          </div>
        </div>
      </article>

      <form type="order" method="POST" action="/">
        <button href="#" type="submit" class="btn btn-primary">Submit</button>
      </form>

      <article class="order-2 product2"></article>

      <article class="order-3 product3"></article>

      <article class="order-4 product4"></article>

      <article class="order-5 product5"></article>

      <article class="order-6 product6"></article>
    </section>
  </body>
</html>
