$primary-color: #f9f9f9;
$heading-color: #dd3b3b;
$paragraph-color: #505050;
$border-color: #eaeaea;

#side-bar {
  height: auto;
  overflow-y: scroll;
  position: fixed;
  transition: 0.3s ease-in-out;
  overflow-x: hidden;
  top: 85px;
  right: 0;
  width: 0px;
  height: 100%;
  background-color: $primary-color;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  color: $paragraph-color;
  -webkit-box-shadow: -2px 4px 8px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -2px 4px 8px 0px rgba(0, 0, 0, 0.09);
  box-shadow: -2px 4px 8px 0px rgba(0, 0, 0, 0.09);
}

.side-bar-head {
  padding-bottom: 70px;
}

.close-side-bar {
  font-weight: bold;
  background-color: $heading-color !important;
  padding: 8px;
  color: $primary-color !important;
}

.checkout-btn {
  width: 80%;
  background-color: $heading-color;
  padding: 12px 20px 12px 20px;
  color: $primary-color;
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#side-bar h4 {
  color: $heading-color;
  padding: 25px 30px 10px 30px;
  text-align: center;
}

#side-bar h5,
#side-bar h6 {
  text-align: center;
  color: $paragraph-color;
  padding-bottom: 10px;
}

.cart-item {
  border-top: 1px solid #ccc;
  padding: 15px 20px 15px 20px;
}

.remove-btn {
  padding-top: 10px;
}
