$primary-color: #f9f9f9;
$heading-color: #dd3b3b;
$paragraph-color: #505050;

body {
  background-color: $primary-color;
  color: $paragraph-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 70px 0 70px;
  -webkit-box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.12);
  box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.12);
}

header .header-wrapper {
  height: 70px;
  max-width: 1200px;
}

header .logo {
  font-weight: bold;
  margin-top: 15px;
}

header .admin-btn {
  position: absolute;
  right: 60px;
  top: 15px;
  background-color: $heading-color;
  color: $primary-color;
  border: none;
  padding: 15px 30px 15px 30px;
}

.main-heading {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 40px;
  z-index: -10;
}

#side-bar {
  position: fixed;
  top: 85px;
  padding: 30px;
  right: 0;
  background-color: #f1f1f1;
  width: 260px;
  height: 100%;
}

#side-bar h3 {
  color: $paragraph-color;
}

#product-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  // margin: -10px;
}

#product-container article {
  flex: 1 1 300px;
  margin: 20px;
}

.product-price {
  position: absolute;
  top: 214px;
  right: 25px;
}
