$primary-color: #f9f9f9;
$heading-color: #dd3b3b;
$paragraph-color: #505050;

body {
  background-color: $primary-color;
  color: $paragraph-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

header {
  width: 100%;
  height: 60px;
  padding: 0 70px 0 70px;
  -webkit-box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.12);
  box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.12);
}

header .header-wrapper {
  max-width: 1200px;
}

header .admin-btn {
  position: absolute;
  right: 60px;
  top: 15px;
  background-color: $heading-color;
  color: $primary-color;
  border: none;
  padding: 15px 30px 15px 30px;
}
