$primary-color: #f9f9f9;
$heading-color: #dd3b3b;
$paragraph-color: #505050;

body {
  background-color: $primary-color;
  color: $paragraph-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 70px 0 70px;
  -webkit-box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.12);
  box-shadow: 3px 6px 14px -5px rgba(0, 0, 0, 0.12);
}

header .header-wrapper {
  height: 70px;
  max-width: 1200px;
}

header .logo {
  font-weight: bold;
  margin-top: 15px;
}

header .admin-btn {
  position: absolute;
  right: 60px;
  top: 15px;
  background-color: $heading-color;
  color: $primary-color;
  border: none;
  padding: 15px 30px 15px 30px;
}

.main-heading {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 40px;
}

#product-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  // margin: -10px;
}

#product-container article {
  flex: 1 1 300px;
  margin: 20px;
}

.product-price {
  position: absolute;
  top: 214px;
  right: 25px;
}

.product-form {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.quantity-btn {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quantity-btn:hover {
  cursor: pointer;
}

.product-form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
  margin-top: -3px;
}

.product-form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
  margin-top: -3px;
}

.product-form #increase span,
.product-form #decrease span {
  position: relative;
  top: -5px;
}

.product-form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#quantity {
  text-align: right;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type="quantity"]::-webkit-inner-spin-button,
input[type="quantity"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
